<p id="notice"><%= notice %></p>

<h1>Backbars</h1>

<table>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Product</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backbars.each do |backbar| %>
      <tr>
        <td><%= backbar.venue_id %></td>
        <td><%= backbar.product_id %></td>
        <td><%= backbar.price %></td>
        <td><%= link_to 'Show', backbar %></td>
        <td><%= link_to 'Edit', edit_backbar_path(backbar) %></td>
        <td><%= link_to 'Destroy', backbar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backbar', new_backbar_path %>
